* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

a {
    text-decoration: none;
}

/* GLOBAL CODE END HERE */

/*********************************** 
Header Section Code Start
********************************* */

.header-navber {
    width: 100%;
    height: 94px;
    background-color: #562EFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    width: 870px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-navber .logo {
    width: 40.42px;
    height: 51px;
    margin-right: auto;
}

.navber ul li {
    list-style: none;
    display: inline-block;
    margin: 0 36px;
}

.navber ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.header-container .login-image {
    width: 51px;
    height: 51px;
} 

 /*----------------------------
  HEADER MEDIA QUERY CODE START HERE-----------------------*/


@media (max-width: 480px)  {


    .header-container {
        width: 100%;
        padding: 0 5%;
    }

    .navber {
        margin-right: 20px;
    }

    .navber ul li {
        list-style: none;
        display: inline-block;
        margin-right: 0px;
    }

    .navber ul li a {
        font-size: 12px;
    }
    
  }

 /*  */

  @media (min-width: 481px) and (max-width: 767px) {
  
    .header-container {
        width: 100%;
        padding: 0 5%;
    }

    .navber {
        margin-right: 20px;
    }

    .navber ul li {
        list-style: none;
        display: inline-block;
        margin-right: 0px;
    }

  }

  /* */

  @media (min-width: 768px) and (max-width: 1024px) {
  
    .header-container {
        width: 100%;
        padding: 0 5%;
    }

    .navber {
        margin-right: 20px;
    }

    .navber ul li {
        list-style: none;
        display: inline-block;
        margin-right: 0px;
    }

  }

/*----------------------------
HEADER MEDIA QUERY CODE END HERE-----------------------*/

/*********************************** 
Header Section Code End
********************************* */

/*********************************** 
MAIN SECTION CODE START
********************************* */

.main-section {
    width: 100%;
    margin-top: 36px;
}
.main-container {
    width: 870px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px 30px;
    border-radius: 5px;
}

.top-players-title {
    padding-bottom: 40px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 29px;
    column-gap: 119px;
}


.players-inner {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.top-players-title h1 {
    font-size: 24px;
    font-weight: 500;
    color: #562EFF;
}

.players img {
    width: 56px;
    height: 56px;
}

.players h3 {
    font-size: 18px;
    font-weight: 500;
    margin-left: 16px;
}

/*******top-players-line**********/

.top-players-line {
    margin: 30px 0;
    color: #D1D1D1;
    background-color: #D1D1D1;
}


/* Top Blog Start */

.top-blog-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 31px;
    margin-bottom: 12px;
    row-gap: 26px;
}

.top-blog-title h1 {
    font-size: 24px;
    font-weight: 500;
    color: #562EFF;
}

.blog {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.blog img {
    width: 177px;
    height: 117px;
    margin-right: 16px;
}

.blog-inner h2 {
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
}

.blog-inner p {
    font-size: 16px;
    font-weight: 400;
    color: #9F9F9F;
}

span {
    color: #562EFF;
}



/* Top Blog End */

/*----------------------------------
TOP PLAYERS & TOP BLOG MEDIA QUERY CODE START HERE-----------------------*/

@media (max-width: 480px)  {
    
    .main-container {
        width: 80%;
    }

    .players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 29px;
        column-gap: 119px;
    }

    .top-players-title h1 {
        text-align: center;
    }

    .players-inner {
        display: block;
        text-align: center;
        padding: 30px 40px;
        box-shadow: 29px 29px 59px #d9d9d9, -29px -29px 59px #e7e7e7;
        border-radius: 10px;
    }

    .players h3 {
        margin-left: 0px;
        margin-top: 30px;
    }

    /* Blog top */

    .top-blog-container {
        grid-template-columns: repeat(1, 1fr);
        /* width: 80%; */
    }

    .top-blog-title h1 {
        text-align: center;
        margin-top: 60px;
    }

    .blog {
        display: block;
        align-items: center;
        text-align: center;
    }

    .blog img {
        width: 308px;
        height: 166px;
        margin-right: 0px;
    }
    
  }

 /*  */

  @media (min-width: 481px) and (max-width: 767px) {
  
    .main-container {
        width: 80%;
    }

    .players {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 29px;
        column-gap: 20px;
    }

    .top-players-title h1 {
        text-align: center;
    }

    .players-inner {
        display: block;
        text-align: center;
        padding: 30px 40px;
        box-shadow: 29px 29px 59px #d9d9d9, -29px -29px 59px #e7e7e7;
        border-radius: 10px;
    }

    .players h3 {
        margin-left: 0px;
        margin-top: 30px;
    }

    /* Blog top */

    .top-blog-container {
        grid-template-columns: repeat(1, 1fr);
        /* width: 80%; */
    }

    .top-blog-title h1 {
        text-align: center;
        margin-top: 60px;
    }

    .blog {
        display: block;
        align-items: center;
        text-align: center;
    }

    .blog img {
        width: 368px;
        height: 248px;
        margin-right: 0px;
    }

  }

  /* */

  @media (min-width: 768px) and (max-width: 1024px) {
  
    .main-container {
        width: 80%;
    }

    .players {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 29px;
        column-gap: 20px;
    }

    .top-players-title h1 {
        text-align: center;
    }

    .players-inner {
        display: block;
        text-align: center;
        padding: 30px 40px;
        box-shadow: 29px 29px 59px #d9d9d9, -29px -29px 59px #e7e7e7;
        border-radius: 10px;
    }

    .players h3 {
        margin-left: 0px;
        margin-top: 30px;
    }

    /* Blog top */

    .top-blog-container {
        grid-template-columns: repeat(2, 1fr);
        /* width: 80%; */
    }

    .top-blog-title h1 {
        text-align: center;
        margin-top: 60px;
    }

    .blog {
        display: block;
        align-items: center;
        text-align: center;
    }

    .blog img {
        width: 177px;
        height: 117px;
        margin-right: 0px;
    }
   
    
  }



/*----------------------------------
TOP PLAYERS & TOP BLOG MEDIA QUERY CODE END HERE-----------------------*/

/* *********************** */


/* Latest Course Start****** */


.latest-course-section {
    width: 100%;
    margin-top: 36px;
    margin-bottom: 30px;
}
.latest-course-container {
    width: 870px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px 30px;
    border-radius: 5px;
}

.latest-course-title {
    padding-bottom: 20px;
}

.latest-course-title h1 {
    font-size: 24px;
    font-weight: 500;
    color: #562EFF;
}

.latest-course-cardbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 53px;
}

.latest-course-cardbox img {
    width: 60px;
    height: 60px;
}

.latest-course-card-inner {
    padding: 10px 0 20px 10px;
    border-radius: 10px;
    box-shadow:  13px 13px 16px #f7f7f7,
             -13px -13px 16px #ffffff;

}

.latest-course-card-inner img {
    Width: 234px;
    Height: 114px;
}

.latest-course-card-inner h1 {
    font-size: 20px;
    font-weight: 500;
}

.latest-course-card-inner p {
    font-size: 14px;
    font-weight: 400;
    color: #ED6B4F;
    margin-bottom: 20px;
}

.rating-star {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fa-star {
    color: #FFC014;
    font-size: 12px;
}

.empty-star {
    color: #AEAEAE;
}

.rate {
    font-size: 14px;
    margin-left: 5px;
    color: #A2A2A2;
}

.rate-btn {
    padding: 3px 10px;
    background-color: #FFE4E8;
    border-radius: 20px;
    margin-left: 20px;
}

.rate-btn a {
    color: #FF4A60;
    font-size: 14px;
    font-weight: 600;
}

.fa-clock {
    font-size: 12px;
    margin-right: 5px;
}

/* Latest Course End ****** */



/*----------------------------------
LATEST COURSE MEDIA QUERY CODE START HERE-----------------------*/

@media (max-width: 480px)  {

    .latest-course-container {
        width: 80%;
    }
    
    .latest-course-cardbox {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px;
    }

    .latest-course-title h1 {
        text-align: center;
        margin-top: 20px;
    }

    .latest-course-card-inner {
        padding: 0px;
        text-align: center;
    }

    .latest-course-card-inner {
        padding: 58px;
        text-align: center;
    }

    
  }

 /*  */

  @media (min-width: 481px) and (max-width: 767px) {
  
    .latest-course-container {
        width: 80%;
    }
    
    .latest-course-cardbox {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px;
    }

    .latest-course-title h1 {
        text-align: center;
        margin-top: 20px;
    }

    .latest-course-card-inner {
        padding: 0px;
        text-align: center;
    }

    .latest-course-card-inner {
        padding: 20px;
        text-align: center;
    }
    
    .rating-star {
        justify-content: center;
    }

  }

  /* */

  @media (min-width: 768px) and (max-width: 1024px) {
  
    .latest-course-container {
        width: 80%;
    }
    
    .latest-course-cardbox {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0px;
    }

    .latest-course-title h1 {
        text-align: center;
        margin-top: 20px;
    }

    .latest-course-card-inner {
        padding: 0px;
        text-align: center;
    }

    .latest-course-card-inner {
        padding: 20px 0 20px 0;
        text-align: center;
    }  
    
    .rating-star {
        justify-content: center;
    }
   
    
  }



/*----------------------------------
LATEST COURSE MEDIA QUERY CODE END HERE-----------------------*/


/*********************************** 
MAIN SECTION CODE END
********************************* */